<div class="product__selectors">
  <div class="selector-wrapper selector-wrapper--boxes" data-option-position="1">
    <fieldset class="radio__fieldset radio__fieldset--circle">
      <legend class="radio__legend">
        <span class="radio__legend__label">Choose your sauna</span>
      </legend>

      <div class="variant-options">
        <span class="radio__button">
          <input
            type="radio"
            class="radio__input"
            data-single-option-selector=""
            data-index="option1"
            name="options[Style]"
            value="Original"
            id="template--16837128355994__main-7587726557338-Style-Original"
            checked=""
          >
          <label for="template--16837128355994__main-7587726557338-Style-Original" class="radio__label">
            <span class="variant_image"
              ><img src="https://nurecover.com/cdn/shop/files/FREEPOD22copy_200x.jpg?v=1717690761" alt="Original"
            ></span>

            <span class="variant-all-wrapper">
              <span class="variant-price variant-price-free" style="display:none;">Free with chiller</span>
              <span class="variant-title">Original</span>

              <span class="variant-frature-text">
                Standard Insulation. Original Steam Device. Good for beginners.
              </span>

              <span class="savings_txt" style="display:none">Save £130.99 </span>
            </span>
          </label>
        </span>

        <span class="radio__button">
          <input
            type="radio"
            class="radio__input"
            data-single-option-selector=""
            data-index="option1"
            name="options[Style]"
            value="Red-Light Therapy (660nm)"
            id="template--16837128355994__main-7587726557338-Style-Red-Light Therapy (660nm)"
          >
          <label
            for="template--16837128355994__main-7587726557338-Style-Red-Light Therapy (660nm)"
            class="radio__label"
          >
            <span class="variant_image"
              ><img
                src="https://nurecover.com/cdn/shop/files/FREEPOD2copy_3_copy_200x.jpg?v=1717690764"
                alt="Red-Light Therapy (660nm)"
            ></span>

            <span class="variant-all-wrapper">
              <span class="variant-price variant-price-free" style="display:none;">Free with chiller</span>
              <span class="variant-title">Red-Light Therapy (660nm)</span>

              <span class="variant-frature-text">
                Standard Insulation. Original Steam Device. 660nm Red-Light Exposure.
              </span>

              <span class="savings_txt" style="display:none">Save £210.99 </span>
            </span>
          </label>
        </span>
        <span class="radio__button">
          <input
            type="radio"
            class="radio__input"
            data-single-option-selector=""
            data-index="option1"
            name="options[Style]"
            value="Red-Light Therapy (660nm)"
            id="template--16837128355994__main-7587726557338-Style-Red-Light Therapy (660nm)"
          >
          <label
            for="template--16837128355994__main-7587726557338-Style-Red-Light Therapy (660nm)"
            class="radio__label"
          >
            <span class="variant_image"
              ><img
                src="https://nurecover.com/cdn/shop/files/FREEPOD2copy_3_copy_200x.jpg?v=1717690764"
                alt="Red-Light Therapy (660nm)"
            ></span>

            <span class="variant-all-wrapper">
              <span class="variant-price variant-price-free" style="display:none;">Free with chiller</span>
              <span class="variant-title">Red-Light Therapy (660nm)</span>

              <span class="variant-frature-text">
                Standard Insulation. Original Steam Device. 660nm Red-Light Exposure.
              </span>

              <span class="savings_txt" style="display:none">Save £210.99 </span>
            </span>
          </label>
        </span>
      </div>
    </fieldset>
  </div>
</div>
