* {
  font-family: "Helvetica Neue", sans-serif !important;
}
/* ----- header section style start---- */
.header {
  padding: 10px 1rem 10px 2rem !important;
}
.header__heading-logo {
  width: 180px;
}
.header__search {
  display: none;
}
.header__icon .icon-search {
  display: none;
}
.header__icon .header_cart_text {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.09px;
}

#cart-icon-bubble {
  text-decoration: none;
  background-color: #0070de;
  display: flex;
  gap: 4px;
  width: 100px;
  padding: 10px;
  border-radius: 99px;
  height: 25px;
  margin: auto;
  color: white;
}

/* ----- header section styles end ---- */

/* -------- product rating style ------- */
.product-custom_rating {
  padding: 0 10px;
}
.product-custom_rating .rating {
  background: #f8f9fa;
  font-size: 11px;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 400;
  line-height: 13.12px;
  display: flex;
  align-items: center;
  gap: 4px;
  width: max-content;
}
.product__title h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 26.64px;
  text-align: left;
  color: #080b12;
}

.product__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 17.28px;
  text-align: left;
  padding: 0 10px;
}
/* -------- product rating style  end ------- */

/* ------ product slider style start ------ */

.grid__item .product__media-wrapper {
  background: #f2f2f3;
  overflow: hidden;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 30px !important;
}
.slider.slider--mobile .slider__slide {
  margin: 1rem;
}
button.slider-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  background-color: white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: 0.1px solid #5252560d;
}
button.slider-button--next {
  right: 25px;
}
button.slider-button--prev {
  left: 25px;
}
ul.custom-slider-first {
  height: 366px;
  overflow-y: hidden;
}
.custom_slider {
  margin-top: -10px;
}
.custom_slider ul {
  gap: 4px;
  margin: 0 12px;
}
.custom_slider li.slider__slide {
  margin: 0 !important;
  height: 47px;
  width: 47px;
}
.is_attached-true{
  display: none;
}

/* ----------------- product slider style end ---------------- */

#product_text__custom {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 9px;
  font-weight: 400;
  line-height: 10.74px;
  margin-bottom: 30px !important;
  padding: 0 10px;
}
#product_text__custom p {
  margin: 0;
  padding: 0;
}
/* ----------------- variant selector style start ---------------- */

.inherited-styles-for-exported-element {
  color: #000;
  font-family: "Harmonia Sans", sans-serif;
  font-size: 62.5%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625;
}

img,
input {
  border-style: none;
  border-width: 0;
  max-width: 100%;
}

input[type="radio"] {
  appearance: radio;
  display: inline-block;
  padding: 0;
  width: auto;
}

.product__selectors {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 50%));
  margin-right: calc(20px * -1);
  row-gap: 20px;
  z-index: 110;
}

.radio__label:hover {
  cursor: pointer;
}

.radio__button {
  border-color: transparent;
  display: inline-block;
  position: relative;
}

.radio__fieldset {
  border-style: initial;
  border-width: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.radio__fieldset .radio__label {
  font-size: inherit;
  line-height: 1.3;
  margin: 0;
  display: flex;
  position: relative;
}

.radio__input {
  height: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.variant-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.variant-options .radio__button {
  font-size: unset;
  margin: 0;
  width: 33.33%;
}

.variant-options .radio__label {
  border-radius: 10px;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  max-width: 100%;
  padding: 10px;
  text-align: left !important;
  transition: all 0.1s ease-in-out;
  transition-behavior: normal;
  border: 1px solid #e1e3e8;
}

.radio__fieldset .radio__label span.variant-price {
  display: block;
  line-height: 1.1;
}

.variant-options .radio__button span.variant-frature-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: #444c57;
}

.selector-wrapper .variant-options .radio__label .savings_disc {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #0070de;
  color: #fff;
  font-size: 8px;
  font-weight: 500;
  line-height: 9.77px;
  padding: 6px 5px 6px 5px;
  border-radius: 4px;
  width: 96px;
  height: 18px;
  text-align: center;
}

.variant-options .radio__button .radio__label:active,
.variant-options .radio__button .radio__label:focus,
.variant-options .radio__button input:checked ~ .radio__label {
  background-color: transparent;
  border: 0.1rem solid #566ebc !important;
  color: #000 !;
}

.variant-options .radio__button .radio__label:active,
.variant-options .radio__button .radio__label:focus {
  border-color: #566ebc !important;
}

span.radio__legend__label {
  font-size: 12px;
  font-weight: 700;
  line-height: 17.28px;
  color: #0a0a0a;
}

.variant-options .radio__button span.label {
  background-color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 100%;
  color: #fff;
  display: block;
  font-size: 8px;
  font-weight: 700;
  left: 50%;
  letter-spacing: 1px;
  line-height: 9px;
  max-width: 70%;
  padding: 8px 12px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: auto;
  transform: translate(-50%);
  width: 100%;
}

.variant-options .radio__label .variant-price span {
  display: inline-block;
  font-size: 12px;
  margin: 0 3px 0 0;
}

.variant-options .radio__label span.variant-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 4px 0 0;
}

.variant-options .radio__label .variant-price span.variant-compare-price {
  color: #bf2e35;
  text-decoration: line-through;
}

.variant-options .radio__button {
  padding: 10px 0px 0;
}

.selector-wrapper legend ~ .variant-options .radio__button {
  flex: 0 0 100%;
}

.selector-wrapper legend ~ .variant-options .radio__button input:checked ~ .radio__label {
  border-color: transparent;
}

.selector-wrapper legend ~ .variant-options .radio__button .radio__label {
  align-items: center;
  flex-direction: row;
}

.selector-wrapper legend ~ .variant-options .radio__button .radio__label .variant_image {
  border-radius: 5px;
  height: 90px;
  width: 90px;
  overflow: hidden;
  display: block !important;
}
.selector-wrapper legend ~ .variant-options .radio__button .radio__label .variant-all-wrapper .left-box{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.selector-wrapper legend ~ .variant-options .radio__button .radio__label .variant-all-wrapper {
  flex: 1 1 0;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.selector-wrapper legend ~ .variant-options .radio__button .radio__label .variant-all-wrapper .variant-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  flex: none;
  color: black;
}
.selector-wrapper legend ~ .variant-options .radio__button .radio__label .variant-all-wrapper .second-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.16px;
}
.selector-wrapper legend ~ .variant-options .radio__button .radio__label .variant-all-wrapper .first-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 17.28px;
  color: black;
}
legend {
  border-style: initial;
  border-width: 0;
  padding: 0;
}

/* ------ varinat selector style end ------- */

/* ------- product buy buttons styles start ------- */

.product-form__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.product_form__price .variant-compare-percentange {
  font-size: 10px;
  font-weight: 500;
  line-height: 12.21px;
  color: #0070de;
  background: #ecfaff;
  padding: 6px 5px 6px 5px;
  border-radius: 4px;
  height: fit-content;
}
.product_form__price .variant-original-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
  text-align: left;
  color: #0a0a0a;
}

.product_form__price .variant-compare-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: left;
}

.product-form__submit::after {
  content: none;
}
.product-form__submit {
  background: #0070de;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.09px;
  text-align: left;
  border: none;
  color: white;
  width: 50%;
  padding: 14px 30px 14px 30px;
  border-radius: 99px;
  gap: 4px;
}
/* ------- product buy buttons styles end ------- */

.Klarna-widget {
  background: #f8f9fa;
  display: flex;
  padding: 10px 53px 10px 53px;
  border-radius: 6px;
}
.product__title.custom {
  padding: 0 10px;
}
.product__info-container > * + * {
  margin: 16px 0 !important;
}
.variant-options .radio__button-first {
  padding: 0;
}
.custom-price-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.92px;
}
#custom-price__sale {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.16px;
}
button.thumbnail.global-media-settings img,
button.thumbnail[aria-current] {
  border-radius: 8px;
}
.slider-button #icon-caret {
  height: 9px;
}
.product__selectors .radio__button input[type=radio]+label{
  padding: 0;
  margin: 0;
  padding-right: 15px;
}
.product__info-container product-form.product-form{
  margin: 0;
}
.custom-price-item .price-item--regular{
  
}
@media only screen and (min-width: 767px) {
  product-info.product__info-container,
  .product__info-wrapper {
    min-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .product__selectors {
    row-gap: 8px;
    grid-template-columns: minmax(0, 100%);
    margin-right: 0;
  }
   .radio__fieldset .radio__label {
    font-size: calc(0.75rem * 1);
    line-height: 1.1;
    min-width: 37px;
  }
}